@page "/"
@inherits SignInBase

<PageTitle>Sign In</PageTitle>
<div class="signin">
    <h3>SIGN IN</h3>




    <form>
        <Input Value="" Label="Username" Placeholder="Name" onChange="@UpdateValues" Type="text" />
        <Input Value="" Label="Password" Placeholder="password" onChange="@UpdateValues" Type="password" />
        <div>
            @if (error != "")
            {
                <span>@error</span>
            }
        </div>
        <Button onClick="() => SignIn(username, password)" Label="SIGN IN" Type="submit" PreventDefault="true" />
    </form>
</div>

